{% extends "SigmaAdminBundle::Layout.html.twig" %}
{% block PLUGIN %}

{% endblock %}
{% block content %}
    <div class="col s12 m12 l6">
        <div class="card-panel">
            <h4 class="header2">Add Emission</h4>
            <div class="row">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="mdi-action-label prefix"></i>
                            {{ form_widget(form.libelle) }}
                            {{ form_errors(form.libelle) }}
                            <label for="first_name">Libelle</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="mdi-communication-comment prefix"></i>
                            {{ form_widget(form.description) }}
                            {{ form_errors(form.description) }}
                            <label for="description">Description</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="mdi-device-data-usage prefix"></i>
                            {{ form_widget(form.datedebut) }}
                            {{ form_errors(form.datedebut) }}
                            <label for="description">Date Debut</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="mdi-device-data-usage prefix"></i>
                            {{ form_widget(form.datefin) }}
                            {{ form_errors(form.datefin) }}
                            <label for="description">Date Fin</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(form.logo) }}
                            {{ form_errors(form.logo) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(form.save) }}
                        </div>
                    </div>
                </form>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block Scripts %}
    <script type="text/javascript">
        // Basic
        $('#dateDebut').formatter({
            'pattern': '{{9999}}/{{99}}/{{99}} {{99}}:{{99}}',
        });

    </script>
{% endblock %}
